.contact {
 text-align:center;
}

h2 {
text-decoration: underline;
text-align:center;}

h2,h3,h4
{font-weight: bold;}

body {
text-color: #2e69a3;
background-image: rgba(212,228,239,1);
border: 1px solid blue;}
